In [3]:
# List Exercise 

# Q1. Create a list of 5 random numbers and print the list. 

animals = ['cow', 'dog', 'cat', 'giraffe', 'elephant']
print(animals)

['cow', 'dog', 'cat', 'giraffe', 'elephant']

In [11]:
# Q2. Insert 3 new values to the list and print the updated list. 

animals.append('Sheep')
animals.append('Horse')
animals.append('Eagle')
print(animals)

['cow', 'dog', 'cat', 'giraffe', 'elephant', 'Sheep', 'Sheep', 'Horse', 'Eagle', 'Sheep', 'Horse', 'Eagle']

In [19]:
animals.pop(6)
animals

['cow', 'dog', 'cat', 'giraffe', 'elephant', 'Sheep', 'Horse', 'Eagle']

In [3]:
# Q3. Try to use a for loop to print each element in the list. 

Animals = ['cow', 'cat', 'dog', 'horse', 'sheep']

for i in Animals:
     print("The animals are:", i)

The animals are: cow
The animals are: cat
The animals are: dog
The animals are: horse
The animals are: sheep

In [5]:
# Dictionary Exercise 

# Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively. 

Survey = {'name':'Gokul','age':22,'address':'abc'}
print(Survey)

{'name': 'Gokul', 'age': 22, 'address': 'abc'}

In [7]:
# Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'. 

Survey['Phone'] = 1234567890
print(Survey)

{'name': 'Gokul', 'age': 22, 'address': 'abc', 'Phone': 1234567890}

In [11]:
# Set Exercise 

# Q1.Create a set with values 1, 2, 3, 4, and 5. 

Numbers = {1,2,3,4,5}
print(Numbers)

{1, 2, 3, 4, 5}

In [13]:
# Q2. Add the value 6 to the set created in Q1. 

Numbers.add(6)
print(Numbers)

{1, 2, 3, 4, 5, 6}

In [15]:
# Q3. Remove the value 3 from the set created in Q1. 

Numbers.remove(3)
print(Numbers)

{1, 2, 4, 5, 6}

In [17]:
# Tuple Exercise 

# Q1. Create a tuple with values 1, 2, 3, and 4 

numbers=(1,2,3,4)
print(numbers)

(1, 2, 3, 4)

In [21]:
# Q2. Print the length of the tuple created in Q1.

print(len(numbers))

4